In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
df = pd.read_csv("datasets/cleaned_aqi_data_local.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54792 entries, 0 to 54791
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   54792 non-null  object
 1   city                   54792 non-null  object
 2   pm10                   54792 non-null  float64
 3   pm2_5                  54792 non-null  float64
 4   carbon_monoxide        54792 non-null  float64
 5   nitrogen_dioxide       54792 non-null  float64
 6   sulphur_dioxide        54792 non-null  float64
 7   ozone                  54792 non-null  float64
 8   uv_index_clear_sky     54792 non-null  float64
 9   uv_index               54792 non-null  float64
 10  dust                   54792 non-null  float64
 11  aerosol_optical_depth  54792 non-null  float64
 12  us_aqi                 54792 non-null  float64
dtypes: float64(11), object(2)
memory usage: 5.4+ MB

In [2]:
df = pd.read_csv("datasets/cleaned_aqi_data_local_recent.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   3744 non-null   object
 1   city                   3744 non-null   object
 2   pm10                   3744 non-null   float64
 3   pm2_5                  3744 non-null   float64
 4   carbon_monoxide        3744 non-null   float64
 5   nitrogen_dioxide       3744 non-null   float64
 6   sulphur_dioxide        3744 non-null   float64
 7   ozone                  3744 non-null   float64
 8   uv_index_clear_sky     3744 non-null   float64
 9   uv_index               3744 non-null   float64
 10  dust                   3744 non-null   float64
 11  aerosol_optical_depth  3744 non-null   float64
 12  us_aqi                 3744 non-null   float64
dtypes: float64(11), object(2)
memory usage: 380.4+ KB

In [3]:
df["date"] = pd.to_datetime(df["date"])
df['hour_sin'] = np.sin(2 * np.pi * df['date'].dt.hour / 24.0)
df['hour_cos'] = np.cos(2 * np.pi * df['date'].dt.hour / 24.0)
df['month_sin'] = np.sin(2 * np.pi * df['date'].dt.month / 12.0)
df['month_cos'] = np.cos(2 * np.pi * df['date'].dt.month / 12.0)
df['day_of_week'] = df['date'].dt.dayofweek # Monday=0, Sunday=6
df['year'] = df['date'].dt.year

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   3744 non-null   datetime64[ns, UTC]
 1   city                   3744 non-null   object
 2   pm10                   3744 non-null   float64
 3   pm2_5                  3744 non-null   float64
 4   carbon_monoxide        3744 non-null   float64
 5   nitrogen_dioxide       3744 non-null   float64
 6   sulphur_dioxide        3744 non-null   float64
 7   ozone                  3744 non-null   float64
 8   uv_index_clear_sky     3744 non-null   float64
 9   uv_index               3744 non-null   float64
 10  dust                   3744 non-null   float64
 11  aerosol_optical_depth  3744 non-null   float64
 12  us_aqi                 3744 non-null   float64
 13  hour_sin               3744 non-null   float64
 14  hour_cos               3744 non-null   float64
 15  month_sin              3744 non-null   float64
 16  month_cos              3744 non-null   float64
 17  day_of_week            3744 non-null   int32
 18  year                   3744 non-null   int32
dtypes: datetime64[ns, UTC](1), float64(15), int32(2), object(1)
memory usage: 526.6+ KB

In [5]:
df.head()

,date,city,pm10,pm2_5,carbon_monoxide,nitrogen_dioxide,sulphur_dioxide,ozone,uv_index_clear_sky,uv_index,dust,aerosol_optical_depth,us_aqi,hour_sin,hour_cos,month_sin,month_cos,day_of_week,year
0,2025-06-30 06:00:00+00:00,dhaka,10.3,9.1,266.0,12.5,9.8,55.0,0.20,0.15,1.0,0.28,50.939716,1.000000,6.123234e-17,1.224647e-16,-1.0,0,2025
1,2025-06-30 07:00:00+00:00,dhaka,11.2,9.9,285.0,11.5,9.9,62.0,1.10,0.80,1.0,0.28,50.576240,0.965926,-2.588190e-01,1.224647e-16,-1.0,0,2025
2,2025-06-30 08:00:00+00:00,dhaka,12.7,11.0,303.0,10.0,9.9,72.0,3.05,2.30,2.0,0.27,50.398933,0.866025,-5.000000e-01,1.224647e-16,-1.0,0,2025
3,2025-06-30 09:00:00+00:00,dhaka,13.2,11.1,310.0,8.5,9.7,83.0,5.75,4.25,2.0,0.29,50.452130,0.707107,-7.071068e-01,1.224647e-16,-1.0,0,2025
4,2025-06-30 10:00:00+00:00,dhaka,14.0,11.5,294.0,6.7,9.0,95.0,8.55,6.50,3.0,0.31,50.576240,0.500000,-8.660254e-01,1.224647e-16,-1.0,0,2025

In [6]:
df.to_csv("datasets/feature_engineered_aqi_data_local_recent.csv", index=False)