In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
df = pd.read_csv("../datasets/dataset_with_clusters.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58824 entries, 0 to 58823
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   58824 non-null  object
 1   city                   58824 non-null  object
 2   pm10                   58824 non-null  float64
 3   pm2_5                  58824 non-null  float64
 4   carbon_monoxide        58824 non-null  float64
 5   nitrogen_dioxide       58824 non-null  float64
 6   sulphur_dioxide        58824 non-null  float64
 7   ozone                  58824 non-null  float64
 8   uv_index_clear_sky     58824 non-null  float64
 9   uv_index               58824 non-null  float64
 10  dust                   58824 non-null  float64
 11  aerosol_optical_depth  58824 non-null  float64
 12  us_aqi                 58824 non-null  float64
 13  cluster                58824 non-null  int64
dtypes: float64(11), int64(1), object(2)
memory usage: 6.3+ MB

In [3]:
df["date"] = pd.to_datetime(df["date"])
df['hour_sin'] = np.sin(2 * np.pi * df['date'].dt.hour / 24.0)
df['hour_cos'] = np.cos(2 * np.pi * df['date'].dt.hour / 24.0)
df['month_sin'] = np.sin(2 * np.pi * df['date'].dt.month / 12.0)
df['month_cos'] = np.cos(2 * np.pi * df['date'].dt.month / 12.0)
df['day_of_week'] = df['date'].dt.dayofweek # Monday=0, Sunday=6
df['year'] = df['date'].dt.year

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58824 entries, 0 to 58823
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   58824 non-null  datetime64[ns, UTC]
 1   city                   58824 non-null  object
 2   pm10                   58824 non-null  float64
 3   pm2_5                  58824 non-null  float64
 4   carbon_monoxide        58824 non-null  float64
 5   nitrogen_dioxide       58824 non-null  float64
 6   sulphur_dioxide        58824 non-null  float64
 7   ozone                  58824 non-null  float64
 8   uv_index_clear_sky     58824 non-null  float64
 9   uv_index               58824 non-null  float64
 10  dust                   58824 non-null  float64
 11  aerosol_optical_depth  58824 non-null  float64
 12  us_aqi                 58824 non-null  float64
 13  cluster                58824 non-null  int64
 14  hour_sin               58824 non-null  float64
 15  hour_cos               58824 non-null  float64
 16  month_sin              58824 non-null  float64
 17  month_cos              58824 non-null  float64
 18  day_of_week            58824 non-null  int32
 19  year                   58824 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(15), int32(2), int64(1), object(1)
memory usage: 8.5+ MB

In [6]:
df.head()

,date,city,pm10,pm2_5,carbon_monoxide,nitrogen_dioxide,sulphur_dioxide,ozone,uv_index_clear_sky,uv_index,dust,aerosol_optical_depth,us_aqi,cluster,hour_sin,hour_cos,month_sin,month_cos,day_of_week,year
0,2023-06-01 06:00:00+00:00,dhaka,43.5,28.4,352.0,20.0,6.5,41.0,0.15,0.15,1.0,1.00,150.01315,0,1.000000,6.123234e-17,1.224647e-16,-1.0,3,2023
1,2023-06-01 07:00:00+00:00,dhaka,41.2,26.3,371.0,23.1,7.9,46.0,0.75,0.65,1.0,1.07,146.59378,0,0.965926,-2.588190e-01,1.224647e-16,-1.0,3,2023
2,2023-06-01 08:00:00+00:00,dhaka,44.6,28.1,399.0,27.3,9.8,53.0,1.90,1.70,1.0,1.09,143.88545,0,0.866025,-5.000000e-01,1.224647e-16,-1.0,3,2023
3,2023-06-01 09:00:00+00:00,dhaka,50.9,32.2,420.0,29.7,11.9,70.0,3.50,3.45,1.0,1.13,141.91669,0,0.707107,-7.071068e-01,1.224647e-16,-1.0,3,2023
4,2023-06-01 10:00:00+00:00,dhaka,61.0,39.5,411.0,25.9,12.6,95.0,5.15,5.05,1.0,1.20,140.08334,0,0.500000,-8.660254e-01,1.224647e-16,-1.0,3,2023

In [7]:
df.to_csv("../main datasets/feature_engineered_dataset.csv", index=False)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['city_encoded'] = le.fit_transform(df['city'])
import joblib
joblib.dump(le, "../encoder/city_encoder.joblib")

['../encoder/city_encoder.joblib']